<div id="hint" style="display: none">
  <h1>Hints</h1>
  <form action="" class="ui form">
    <div class="ui segment">
      <b>Location:</b><br>
      <pre><code class="language-"><%= hint.location %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <div class="ui segment">
      <b>Type:</b><br>
      <pre><code class="language-"><%= hint.type %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <div class="ui segment">
      <b>Syntax:</b><br>
      <pre><code class="language-"><%= hint.syntax %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <div class="ui segment">
      <b>Name:</b><br>
      <pre><code class="language-"><%= hint.name %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <div class="ui segment">
      <b>Data:</b><br>
      <pre><code class="language-"><%= hint.data %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <div class="ui segment">
      <b>Behavior:</b><br>
      <pre><code class="language-"><%= hint.behavior %></code></pre>
      <div class="field">
        <select name="" id="">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button class="ui green button">Submit</button>
  </form>
</div>

<div id="question">
  <h1>Instruction</h1>
  <div class="text">
    <%- question %>
  </div>
</div>




